:root {
  --primary-color: #ff4081;
  --progressbar-size: 3px;
  --text-color: rgba(41, 41, 41, 1);
  --block-space: 2em;
  --hr-color: rgba(0, 0, 0, 0.7);
}

* {
  font-family: "Fira Code", Hack, Consolas !important;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  position: relative;
}

/* ::selection {
  background: #ffe1007d;
  cursor: help;
} */

pre {
  margin-top: var(--block-space);
  overflow: auto;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

pre code::-webkit-scrollbar {
  height: 4px;
}

pre code::-webkit-scrollbar-track {
  background: #f1f1f1;
}

pre code::-webkit-scrollbar-thumb {
  background: rgb(182, 181, 181);
  border-radius: 8px;
}

pre code::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 118, 118);
}

hr {
  border: none;
  position: relative;
  background: var(--hr-color);
  height: 3px;
  margin: calc(var(--block-space) * 2) 0;
  padding: 0;
  width: 3px;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: -20px 0 0 var(--hr-color), 20px 0 0 var(--hr-color);
}

li {
  list-style: none;
}

em {
  background-color: yellow;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline !important;
}

em {
  padding: 4px 6px;
  border-radius: 0.4em;
  letter-spacing: 1px;
}
#main {
  margin: var(--block-space) 0;
  font-size: 14px;
  line-height: 1.5;
}

#footer {
  margin-bottom: 1rem;
}

#top_nav,
#bannerbar,
#footer,
.postDesc {
  display: none;
}

#header-image-container {
  position: relative;
}
#header-image-container svg {
  position: absolute;
}
#ajanuw-title-image {
  filter: url(#noise);
}

#blogTitle {
  padding-left: 10px;
}

.postTitle {
  color: var(--primary-color);
  font-size: 2em;
  margin-top: var(--block-space);
}

.postCon {
  margin-bottom: calc(var(--block-space) / 2);
  letter-spacing: 1px;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  color: var(--text-color) !important;
}

.postCon .c_b_p_desc {
  line-height: 24px;
}

.entrylist .postSeparator {
  margin-top: 2rem;
}

.postTitle:first-child {
  margin-top: inherit;
}

#navigator {
  margin-top: 2em;
}

#navigator .blogStats,
#div_digg,
#sideBar,
#comment_form,
#green_channel,
.dayTitle {
  display: none;
}
.c_b_p_desc .c_b_p_desc_readmore {
  display: none;
}
#navList {
  display: flex;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin-bottom: 0 !important;
  margin-top: var(--block-space) !important;
}

#navList a {
  float: left;
  border-right: #ccc 1px dashed;
  padding: 0 10px 0 10px;
}

#home {
  max-width: 800px;
  margin: 0px auto;
}

#cnblogs_post_body ul li {
  line-height: 23px;
  list-style: none;
  letter-spacing: 1px;
  font-size: 12pt;
  margin-top: 1.2em;
  list-style-type: disc;
  color: var(--text-color);
}

div.pager,
div#nav_next_page {
  background: #ffffff63;
}

p > img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

/* ``` 代码段 */
.cnblogs-markdown pre code,
.cnblogs-post-body pre code {
  display: block !important;
  font-family: "Fira Code", "Courier New", sans-serif !important;
  border: none !important;
  margin: 1px 3px;
  font-size: 14px !important;
  line-height: 1.5 !important;
  margin: 0;
  padding: 20px !important;
  font-weight: bold;
  white-space: pre;
}

/* ` 代码段 */
.cnblogs-markdown :not(pre) > code,
.blogpost-body :not(pre) > code {
  font-family: "Fira Code", "Courier New", sans-serif !important;
  font-size: 75% !important;
  padding: 2px 4px !important;
  background-color: rgba(242, 242, 242, 1) !important;
  font-weight: 400 !important;
  color: inherit !important;
}

.postBody blockquote {
  box-shadow: inset 3px 0 0 0 var(--primary-color) !important;
  margin: 0;
  padding: 0;
  border-left: none !important;
  padding-left: 23px;
}

#scrollPath {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--progressbar-size);
  background: rgba(255, 255, 255, 0.05);
}
#progressbar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--progressbar-size);
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}
#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--progressbar-size);
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--progressbar-size);
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}
@-moz-keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
@-o-keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#qrcodes {
  display: flex;
  align-items: center;
  margin: var(--block-space) 0;
}

#qrcodes figure img {
  width: 14em;
}
#qrcodes figure figcaption {
  text-align: center;
}

#cnblogs_post_body p {
  margin: 0 !important;
  margin-top: var(--block-space) !important;
  font-size: 12pt;
  letter-spacing: 1px;
  line-height: 32px;
  color: var(--text-color);
  font-weight: 400;
}

#author_profile_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author_avatar {
  border-radius: 50%;
}

#author_profile_detail {
  margin-left: 8px;
}

#author_profile_detail a {
  padding: 2px 0;
  display: inline-block;
}

@media (max-width: 800px) {
  :root {
    --block-space: 1.2em;
  }
  #main {
    padding: 0 8px;
  }
  .day {
    padding: 0 12px;
  }
}
